<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather App</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <p>Compare Seoul with other freezing cities! </p>
        <select name="compare_city" placeholder="Choose city">
            {% for city in cities %}
            <option value="{{ city }}">{{ city }}</option>
            {% endfor %}
        </select>
        <button type="submit">Compare Weather</button>
    </form>

    <div class="comparison-container">
        <div class="city-container">
            <h1>Seoul</h1>
            <h1>{{ seoul_weather_data.temp }}</h1>
            <p>{{ seoul_weather_data.description }}</p>
            <img src="http://openweathermap.org/img/w/{{ seoul_weather_data.icon }}.png" alt="{{ seoul_weather_data.description }}">
        </div>
        {% if compare_city_weather_data %}
        <h1>{{ compare_city_weather_data.city }}</h1>
            <h1>{{ compare_city_weather_data.temp }}</h1>
            <p>{{ compare_city_weather_data.description }}</p>
            <img src="http://openweathermap.org/img/w/{{ compare_city_weather_data.icon }}.png" alt="{{ compare_city_weather_data.description }}">
        {% endif %}
    </div>
</body>
</html>